.header {
	background: #FFF;
	height: 45px;
	position: relative;
}
.logo_a {
	background: url(../images/logo.png);
	background-size: 90px auto;
	border-radius: 0;
	display: inline-block;
	height: 26px;
	margin: 12px 0px 11px 10px;
	width: 111px;
}
.city_a {
	color: #999;
	display: inline-block;
	margin: 20px 5px 11px 0;
	vertical-align: top;
}
.city {
	color: #3F4358;
	font-size: 14px;
	position: relative;
}
.city::after {
	border: 5px solid transparent;
	border-top-color: #999;
	content: '';
	position: absolute;
	right: -15px;
	top: 6px;
}
.publish {
	background: #FF6C00;
	border-radius: 0;
	color: #FFF;
	font-size: 12px;
	height: 45px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 43px;
}
.publish .ico {
	background: url(../images/index_post.png);
	background-size: 23px auto;
	display: block;
	height: 23px;
	margin: 2px auto 2px;
	width: 23px;
}

/* hot */
h2, .nav_tt {
	background: #FFFFFF;
	border-top: 1px solid #D8DADB;
	border-bottom: 1px solid #D8DADB;
	color: #2C3354;
	font-size: 16px;
	font-weight: normal;
	padding:6px 0;
	margin: 10px 0 0 0;
	position: relative;
	text-indent: 10px;
}
.nav_tt .icon{
	width:32px;
	height:32px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
}
.wli3 {
	background: #FFF;
	border: 1px solid #D8DADB;
	font-size: 0;
	height: 42px;
	margin: -1px 10px 0;
	overflow: hidden;
}
.wli3 li {
	/*display: inline-block;*/
	float: left;
	height: 100%;
	width: 32%;
}
.wli3 li a {
	display: block;
	font-size: 14px;
	height: 100%;
	line-height: 42px;
	text-align: center;
	width: 100%;
}
.bg-c1 a {
	color: #FA2222;
}
.bg-c2 a {
	color: #FF6C00;
}
.bg-c3 a {
	color: #54B1E1;
}
.wli4, .big_dl ul, .sm_dl ul {
	border-bottom: 1px solid #D8DADB;
	font-size: 0;
	margin: -1px 0 10px 0;
	overflow: hidden;
	background-color:#FFFFFF;
	border-radius: 0;
	box-shadow: 0 2px 0 #e9e9e9;
}
.wli4 li, .one_third {
	background: #FFF;
	border: 1px solid #D8DADB;
	border-right: none;
	/*-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;*/
	float: left;
	height: 42px;
	margin: 0 -1px -1px 0;
	width: 25%;
	vertical-align: top;
}
.wli4 li a, .one_third a {
	color: #7A7E88;
	display: block;
	font-size: 14px;
	line-height: 42px;
	text-align: center;
	width: 100%;
}
.dl_local li a {
	color: #2C3354;
}
.jiaoyu2+.big_dl ul, .it2+.big_dl ul {
	border: 1px solid #D8DADB;
	margin: -1px 10px 0;
	overflow: hidden;
}
.jiaoyu2+.big_dl .one_third, .it2+.big_dl .one_third {
	border: none;
	border-top: 1px dashed #D8DADB;
	display: block;
	float: left;
}
.jiaoyu2+.big_dl .one_third a, .it2+.big_dl .one_third a {
	text-align: left;
	text-indent: 10px;
}
.it2+.big_dl {
	margin-bottom: 10px;
}
.tishi{ line-height:25px; clear:both; padding:10px; }
.tishi a{ color:#0000FF; padding:0 3px;}
