<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="home">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}/{R:1}" />
                </rule>
		<rule name="space">
		    <match url="space/([a-z0-9A-Z]+)/" />
		    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
                    </conditions>
		    <action type="Rewrite" url="/{C:1}/space.php?user={R:1}" />
		</rule>
		<rule name="store">
		    <match url="store-([0-9]+)/" />
		    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
                    </conditions>
		    <action type="Rewrite" url="/{C:1}/store.php?uid={R:1}" />
		</rule>
		<rule name="store2">
		    <match url="store-([0-9]+)/([^\/]+).html" />
		    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
                    </conditions>
		    <action type="Rewrite" url="/{C:1}/store.php?uid={R:1}&amp;Uid={R:2}" />
		</rule>
		<rule name="information">
			<match url="([^\/]+)/([0-9]+).html" />
			<conditions>
				<add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
			</conditions>
			<action type="Rewrite" url="{C:1}/information.php?id={R:2}" />
		</rule>
		<rule name="category">
			<match url="/(?!wap|admin)([^\/]+)/" />
			<conditions>
				<add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
			</conditions>
			<action type="Rewrite" url="{C:1}/category.php?Catid={R:1}" />
		</rule>
		<rule name="newshome">
                    <match url="news.html" />
                    <action type="Rewrite" url="/{C:1}/news.php" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
                    </conditions>
                </rule>
		<rule name="newscatid">
                    <match url="news-catid-([0-9]+).html" />
                    <action type="Rewrite" url="/{C:1}/news.php?catid={R:1}" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
                    </conditions>
                </rule>
		<rule name="newscatidpage">
		    <match url="news-catid-([0-9]+)-page-([0-9]+).html" />
		    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
                    </conditions>
		    <action type="Rewrite" url="{C:1}/news.php?catid={R:1}&amp;page={R:2}" />
		</rule>
                <rule name="newid">
                    <match url="news-id-([0-9]+).html" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
                    </conditions>
		    <action type="Rewrite" url="/{C:1}/news.php?id={R:1}" />
                </rule>
		<rule name="corporation">
		    <match url="corporation.html" />
		    <conditions>
			<add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
		    </conditions>
		     <action type="Rewrite" url="{C:1}/corporation.php" />
		</rule>
		<rule name="corporation2">
		    <match url="corporation-([^\/]+).html" />
		    <conditions>
			<add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
		    </conditions>
		    <action type="Rewrite" url="{C:1}/corporation.php?Catid={R:1}" />
		</rule>
		<rule name="sitemap">
		    <match url="/sitemap.html" />
		    <conditions>
			<add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
		    </conditions>
		    <action type="Rewrite" url="{C:1}/about.php?part=sitemap" />
		</rule>
		<rule name="announce">
		    <match url="announce.html" />
		    <conditions>
			<add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
		    </conditions>
		    <action type="Rewrite" url="{C:1}/about.php?part=announce" />
		</rule>
		<rule name="friendlink">
		    <match url="friendlink.html" />
		    <conditions>
			<add input="{HTTP_HOST}" pattern="^(.*)\.domain\.com$" />
		    </conditions>
		    <action type="Rewrite" url="{C:1}/about.php?part=friendlink" />
		</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
