.coupon-tag {
    width: 15px;
    height: 16px;
    background: url(../images/nav-icons.png) no-repeat;
    background-size: 115px auto;
    vertical-align: -3px;
    padding-left: 2px;
    padding-right: 6px;
    display: inline-block;
}

.coupon-tag-gray {
    width: 15px;
    height: 16px;
    background: url(../images/nav-icons-gray.png) no-repeat;
    background-size: 115px auto;
    vertical-align: -3px;
    padding-left: 2px;
    padding-right: 6px;
    display: inline-block;
}

.tuan {
    background-position: -33px -49px;
    vertical-align: -4px;
}.hui {
     background-position: -96px -96px;
     height: 22px;
 }